<!DOCTYPE html>

{% load crispy_forms_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Index Page </title>
</head>


<body>
    {% if not data %}
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h1 class="mt-4" align="center">Link Parser</h1>
                    <hr class="mt-4 mb-5">
                    <h4 class="mt-4" align="center">Mən sizin işinizi asanlaşdıracağam.</h4>
                    <hr class="mt-4 mb-5">
                    <div style="">
                    {{ form.link|as_crispy_field }}
                    {{ form.start_date|as_crispy_field }}
                    {{ form.end_date|as_crispy_field }}
                    {{ form.child|as_crispy_field }}
                    {{ form.adult|as_crispy_field }}
                    {{ form.nights_start|as_crispy_field }}
                    {{ form.nights_end|as_crispy_field }}
                    {{ form.cost_min|as_crispy_field }}
                    {{ form.cost_max|as_crispy_field }}
                    
                </div>
                    <button type="submit" class="btn btn-outline-info"> <a href="{% url 'app:index' %}"> </a> Göndər</button>

                </div>
            </div>
        </div>
    </form>
    {% else %}
    <select id="filter-input">
        <option value="">Select a hotel name</option>
        {% for name in options %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    

    {% endif %}

    <div style="border-bottom: 1px solid black;height:200px"></div>
    <div class="data-item">
    {% for x in data %}
    <h1>{{x.hotel}}</h1>
    <p>{{x.roomtype}}</p>
    <p>{{x.price}}</p>
    <p>{{x.meal}}</p>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filterInput = document.getElementById('filter-input');
        const dataItems = document.querySelectorAll('.data-item');

        filterInput.addEventListener('input', function() {
            const filterValue = filterInput.value.toLowerCase();

            dataItems.forEach(item => {
                const hotelName = item.querySelector('h1').textContent.toLowerCase();
                item.style.display = hotelName.includes(filterValue) ? 'block' : 'none';
            });
        });
    });
</script>

    <style>
        *{
            margin-left:5%;
        }
    </style>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
